.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.New {
  background-color: skyblue;
  min-height: 100vm;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.name {
  font-size: 30px;
  padding: 20px;
}
.card {
  background-color: white;
  margin: 16px auto;

  padding: 18px;
  width: 50%;
  box-sizing: border-box;
}
.Submit {
  background-color: red;
  font-size: 20px;
  padding: 5px 10px;
  margin: 5px 0px;

  font-style: bold;
}
.Submit:hover {
  background-color: green;
}
